:root {
    --general-text: rgb(49, 44, 39);
    --general-bg: rgb(255, 249, 244);
    --accent-color: rgb(255, 165, 92);
    --accent-bg: rgb(255, 224, 203);
    --border-radius: 20px;
    --transition: all .4s;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);

}

.body--open-menu {
    overflow: hidden;
}

.body--open-modal {
    overflow: hidden;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ========== МОДАЛЬНОЕ ОКНО ========== */

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--open-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__windown {
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px 60px;

    position: relative;
    width: 100%;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition)
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: rgb(172, 144, 122);
}

.modal__img {
    margin: -65px 0 18px 15px;
}

.modal__title {
    color: rgb(31, 23, 17);
    font-family: 'Gabriola';
    font-size: 42px;
    font-weight: 400;
    line-height: 0.9;
    margin-bottom: 10px;
}

.modal__text {
    color: var(--general-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}


.modal__form {}

.field {
    position: relative;
    display: block;
}

.modal__form-input {
    margin-bottom: 10px;
}

.field-input {
    display: block;
    max-width: 308px;
    padding: 19px 28px 19px 28px;
    width: 100%;
    border: 1px solid rgb(172, 144, 122);
    border-radius: 100px;
    background: transparent;
    font-size: 16px;
    transition: var(--transition);
    margin-bottom: 10px;
}


.field-input:hover {
    border-color: var(--accent-color);
}

.field-input::placeholder {
    color: rgb(172, 144, 122);
    transition: var(--transition);
}

.field-input:hover::placeholder {
    color: var(--accent-color);
}


.modal__form span {
    position: absolute;
    top: 12px;
    left: 28px;
    color: rgb(172, 144, 122);
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(172, 144, 122);
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.field-input:focus {
    opacity: 1;
    visibility: visible;
    padding: 26px 28px 12px 28px;
}

.field-input:focus+span {
    opacity: 1;
    visibility: visible;
}

.button {
    display: block;
    max-height: 62px;
    height: 100;
    max-width: 308px;
    width: 100%;
    color: var(--general-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

/* ================================================================== */

.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 4;
}

.header__logo img {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    gap: 7vh 40px;
}

.nav__item {
    display: block;
    padding: 5px 5px;
}

.nav__link {
    display: block;
    padding: 5px 5px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--accent-color);
    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

/* ================================================================== */

.hero {
    margin: 48px 0 140px;
}

.container {}

.hero__inner {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: space-between;
}

.hero__content {
    max-width: 519px;
}

.hero__content-info {
    color: rgb(177, 151, 179);
    line-height: 160%;
    text-transform: uppercase;
}

.hero__content-title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%;
    margin: 20px 0 30px;
}

.hero__content-subtitle {
    margin-bottom: 40px;
    max-width: 358px;
}

.button {
    border-radius: 60px;
    background: var(--accent-color);
    display: block;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--general-text);
    font-weight: 500;
    line-height: 1.6;
    min-height: 62px;
    transition: all 0.8s;
}

.button:hover {
    background: rgb(255, 145, 56);
}

.hero__button {
    max-width: 358px;
    width: 100%;
}

/* ========================================================================= */

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 200px;
    top: 72%;
    left: calc(100% - 39px);
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    padding-left: 3%;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    background: rgb(255, 224, 203);
    transition: all 0.8s;
    position: relative;
}

.hero__img-button::before {
    content: '';
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    position: absolute;
    inset: 5px;
    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1;
}


/* ========================================================================== */
.about {
    padding: 140px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    position: relative;
    color: var(--general-bg);
    overflow: hidden;
    border-radius: var(--border-radius);
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px 15px 20px;
    background: rgba(149, 123, 151, 0.9);
    color: var(--general-bg);
    border-radius: var(--border-radius);
    max-width: 300px;
    max-height: 108px;
    text-align: left;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.about__img-button {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--general-bg);
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: relative;
}

.about__img-button::before {
    content: '';
    border-radius: 50%;
    border: 1px solid rgb(206, 170, 208);
    position: absolute;
    inset: 5px;
    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

/* ======================================================================== */
.about__body {
    color: var(--general-text);
}

.about__heading {
    margin-bottom: 30px;
}

.about__title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
}

.about__title-text {}

.about__text {}

.about__grid {
    display: grid;
    align-items: center;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    display: flex;
    align-items: center;

    gap: 15px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 23.5px 29px 24.5px;
    max-height: 130px;
}


.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

}

. .about__grid-text {}






/* ==========БУРГЕР-МЕНЮ=========== */


.burger-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    content: '';
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--general-text);
    position: relative;
    z-index: 3;
    transition: var(--transition);
}

.burger-icon span::after,
.burger-icon span::before {
    position: absolute;
}

.burger-icon span::after {
    top: -8px;
}

.burger-icon span::before {
    top: 8px;
}

.body--open-menu .burger-icon span {
    background: transparent;
}

.body--open-menu .burger-icon span::after {
    top: 0px;
    transform: rotate(45deg);
}

.body--open-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg);
}

.body--open-menu .burger-icon span .body--open-menu .burger-icon span::after .body--open-menu .burger-icon span::before {
    transform: all .4s;
}



/* ================================================================== */

.footer {
    background: rgb(171, 130, 97);
}

.footer__inner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.1fr 1.2fr auto;
    gap: 15px;
    margin: 60px 0 60px 0;
    color: rgb(255, 249, 244);
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__col-text {
    margin: 4px 0 20px 0;
}

.footer__social {
    display: flex;
    gap: 15px;
}

.social__item {}

.social__link {
    padding: 5px;
}

.footer__col-list {
    display: grid;
    gap: 20px;
}

.footer__col-item {}

.footer__col-link {}

.footer__contact-list {
    display: grid;
    gap: 10px;
}

.footer__contact-item {}

.footer__contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__col-tel {}

.footer__col-number {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
}

.footer__col-copy {
    color: rgb(222, 197, 177);
    display: flex;
    gap: 5px;
    margin-top: 47px;
}

/* ================================================================== */
/* ================================================================== */
/* ================================================================== */

@media (max-width: 1200px) {
    .hero__img {
        margin-right: 0px;
    }

    .hero__img-control {
        position: static;
        padding: 40px 0px;
        max-width: 377px;
    }
}

@media (max-width: 1100px) {
    .footer__inner {
        display: grid;
        gap: 50px;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:first-child {
        grid-column: 1/-1;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ============================ */
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1 /-1;
    }

    .about__body {
        align-self: center;
    }


    @media (max-width: 900px) {
        .nav {
            position: fixed;
            inset: 0;
            z-index: 1;
            background-color: var(--general-bg);
            font-size: 24px;
            transform: translateY(-50%);
            opacity: 0;
            visibility: hidden;
            transition: var(--transition);
        }

        .nav__list {
            flex-direction: column;
            align-items: center;
            padding: 18vh 60px;
        }

        .body--open-menu .nav {
            transform: translateY(0%);
            opacity: 1;
            visibility: visible;
        }

        .burger-icon {
            display: flex;
        }

        .footer__inner {
            display: grid;
            gap: 50px;
            grid-template-rows: repeat(4, auto);
            grid-template-columns: auto;
            text-align: center;
        }

        .footer__col {
            justify-self: center;
        }

        @media (max-width: 800px) {
            .hero__img>img {
                display: none;
            }

            .hero__img-control {
                display: none;
            }

            .hero__img-control--mobile {
                display: flex;
            }

            .hero__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                max-width: 100%;
            }

            .hero__content-subtitle {
                margin-bottom: 0px;
            }

            /* =========================================== */
            .about__inner {
                grid-template: none;
            }

            .about__img {
                max-width: 500px;
                justify-self: center;
            }

            .about__body {
                text-align: center;
            }

            .about__grid {
                grid-template: none;
            }
        }

        @media (max-width: 450px) {
            .about__img-control {
                border-radius: 0 20px 0 0;
                bottom: 0;
                left: 0;
            }
        }